<h1>About</h1>
<p style="color:#7f8c8d;">Invitely is an online web service where you can create and send digital wedding invitations to your guests.</p>
<p style="color:#7f8c8d;">In 2013, I was getting married and was in charge of planning a wedding for 600 guests (I'm Indian, what did you expect). With some guests coming from out of town, and others spread all over BC, the task of sending out wedding invitations became overwhelming. Especially since I'm a perfectionist who wanted to design and print my own wedding invitations. 
<p style="color:#7f8c8d;">As my wedding day came closer and closer, I realized I didn't have enough time to get all the invitations out. So I did what any saavy web developer in my position would do. I created an online web page with all of our wedding details. I even included a pre-wedding photo gallery, and a little backgroung information about me and my wife. I sent it to my friends through Facebook and Email, hoping that they would take it seriously. The response was amazing! Everyone loved it, and more importantly, everyone showed up! Since then, many of my friends have been asking me to create digital wedding invitiations for them as well, so I decided to turn my idea into a web app that anyone could use.</p>
<p style="color:#7f8c8d;">Please send me any feedback you may have, as I'd like this to be a useful service for everyone. In the future, I would love to add the ability to create invitations for other events as well. Thanks for visiting my site, talk to you soon!</p>

<p>Simon Rai<br/>
simon@raize.ca</p>