<div class="row">

  <div class="col-md-6">
  	<h6>Get In Touch With Me</h6>
  	<hr/>
  	<p style="color:#7f8c8d;">For any inquiries about using invitely or customizing your invitation feel free to contact me.</p>
  	<p><a href="tel:6043389687"><span class="glyphicon glyphicon-earphone"></span>  604-338-9687</a></p>
  	<p><a href="email:simon@raize.ca"><span class="glyphicon glyphicon-envelope"></span>  simon@raize.ca</a></p>
  	<p><a href="http://twitter.com/simonrai_"><span class="glyphicon glyphicon-share-alt"></span>  @simonrai_</a></p><br/>
  	<h6>Where To Find Me</h6>
  	<hr/>
  	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2602.7102579857547!2d-123.10818774999998!3d49.28188719999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717986699687%3A0x4fb885f79ca787fa!2s128+W+Hastings+St!5e0!3m2!1sen!2sca!4v1399408716830" width="400" height="200" frameborder="0" style="border:0"></iframe>
  </div>

  <div class="col-md-6">
  	<h6>Email Me</h6>
  	<hr/>
  	<form role="form">

  		<div class="form-group">
    		<label>Name</label>
    		<input type="email" class="form-control" placeholder="Enter name" autofocus>
  		</div>

  		<div class="form-group">
    		<label>Email</label>
    		<input type="text" class="form-control" placeholder="Enter email">
  		</div>

  		<div class="form-group">
    		<label>Message</label>
    		<textarea class="form-control" placeholder="Enter message" rows="5"></textarea>
  		</div>

  		<button type="submit" class="btn btn-primary btn-wide">Submit</button>
  
  	</form>
	
	</div>

</div>
