<center><h5>Invitely makes sending wedding invitations fast, easy, and affordable.</h5></center><br/><br/>
<hr/><br/>

<div class="row">
<div class="col-md-4" style="text-align:center;">
<img src="http://wearefractal.com/common-files/icons/Clipboard_2x.png" width="104" height="104" />
<h6 style="color:#1ABC9C;">1. Enter Wedding Details</h6>
<p style="color:#7f8c8d;">Whether it's a pre-wedding party, ceremony or reception, customize your invitation by adding the events you want. Guests can RSVP for the events that you choose!</p>
</div>
<div class="col-md-4" style="text-align:center;">
<img src="http://wearefractal.com/common-files/icons/Banner_2x.png" width="104" height="104" />
<h6 style="color:#1ABC9C;">2. Choose A Design</h6>
<p style="color:#7f8c8d;">We utilize cutting edge technologies like HTML5, Javascript, and CSS3 to ensure your invitation can be viewed on any internet device with a beautiful user experience.
</div>
<div class="col-md-4" style="text-align:center;">
<img src="http://wearefractal.com/common-files/icons/Goal_2x.png" width="104" height="104" />
<h6 style="color:#1ABC9C;">3. Send To Your Guests</h6>
<p style="color:#7f8c8d;">Once you're invitation is complete send it to your guests at the click of a button. Each invitation is password protected, so only the guests you've contacted will be able to view it.
</div>
</div>
<hr/><br/>
<center>
<p class="lead">We've taken the hastle out of sending wedding invitations because we know you'd rather be doing other things before your big day. </p>
<p class="lead">All it takes is a few minutes to design and send your wedding invitations. Your guests instantly recieve a beautiful, digital wedding invitation, with all the information they need for your wedding.</p>
<p class="lead">There's simply no better way to create and send wedding invitations. Try it for free!</p>
</center>

<% if user_signed_in? %>
<center><%= link_to "Create Invitation", new_invitation_path, class: "btn btn-hg btn-primary" %></center>
<% else %>
<center><%= link_to "Create Invitation", new_user_registration_path, class: "btn btn-hg btn-primary" %></center>
<% end %>